body {
    font-family: "Arsenal SC", sans-serif;
    text-align: center;
}

@media only screen and (min-width: 750px) {
    h1 {
        font-weight: 700;
        font-size: xxx-large;
    }
}

@media only screen and (min-width: 500px) {
    h1 {
        font-weight: 700;
        font-size: xx-large;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-weight: 700;
        font-size: x-large;
    }
}

nav {
    padding-top: 3vh;
}

.nav-links {
    list-style-type: none;
    display: inline;
    font-size: x-large;
}

.left-link {
    padding-right: 20vw;
}

.right-link {
    padding-left: 20vw;
}

nav a {
    color: black;
}
