{% extends "base.html" %}
{% block content %}

    <h3>Add a Question</h3>
    
    <div class="row">
        <form class="col s12 m8 offset-m2" action="POST" action="{{ url_for('add_question') }}">
            <div class="card-panel">
                <!-- Question -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="qestion" name="question" type="text" class="validate" placeholder="Your Question">
                    </div>
                </div>
                <!-- Answer -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="answer" name="answer" type="answer" class="validate" placeholder="Answer">
                    </div>
                </div>
                <!-- Submit -->
                <div class="row">
                    <div class="col s12">
                        <a href="{{ url_for('add_question') }}">
                            <button type="button" class="btn-large text-shadow">
                                Submit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}