<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/eb4afeeb42.js" crossorigin="anonymous"></script>
    <title>The Expanding Quiz</title>
</head>
<body>

    <nav class="nav-center white" role="navigation">
        <ul>
            <li class="nav-links left-link"><a href="{{ url_for('index') }}">Quiz</a></li>
            <li class="nav-links right-link"><a href="{{ url_for('add_questions') }}">Add Questions</a></li>
        </ul>
    </nav>
    
    <h1>T h e<br>E x p a n d i n g<br>Q u i z</h1>

    

    {% block content %}
    {% endblock %}

</body>
</html>