<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Expanding Quiz</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Quiz</a></li>
            <li><a href="{{ url_for('expand') }}">Expand</a></li>
        </ul>
    </nav>

    <h1>The Expanding Quiz</h1>

    {% block content %}
    {% endblock %}

</body>
</html>