{% extends "base.html" %}
{% block content %}
    <h3>Login</h3>

    <div class="row">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        {% for category, message in messages %}
                            <div class="col s12">
                                <alert class="card-panel {{ category | materialize_class }}">
                                    <span class="white-text flash_message">{{ message }}</span>
                                </alert>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" class="validate" placeholder="Username" required>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" class="validate" placeholder="Password" required>
                    </div>
                </div>
                <!-- Register -->
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn-large text-shadow">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col s12">
                <a href="{{ url_for('register_page') }}">
                    <button type="button" class="btn-large text-shadow">
                        Go to Register Page
                    </button>
                </a>
            </div>
        </div>
    </div>

    
    

{% endblock %}