{% extends "base.html" %}
{% block content %}
    
    <h2>Login or Sign Up to alter </h2>
        
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('login') }}">
                    <button type="button">
                        Login
                    </button>
                </a>
            </div>

            <div class="col">
                <a href="{{ url_for('register') }}">
                    <button type="button">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- Register -->
    <div class="row">
        <div class="col"></div>
        <button type="submit" class="col s12 btn-large text-shadow">
            Register <i class="fas fa-sign-in-alt"></i>
        </button>
    </div>


{% endblock %}