{% extends "base.html" %}
{% block content %}

    <h3>{{ user }}'s Profile</h3>

    <div class="row">
        <a href="{{ url_for('logout') }}">
            <button type="submit" class="btn-large" >Logout</button>
        </a>
        
    </div>
    
    <div class="row">
        <h2>Add a Question</h2>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        {% for category, message in messages %}
                            <div class="col s12">
                                <alert class="card-panel {{ category | materialize_class }}">
                                    <span class="white-text">{{ message }}</span>
                                </alert>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <form class="col s12 m8 offset-m2" action="POST" action="{{ url_for('add_question') }}">
            <div class="card-panel">
                <!-- Question -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="question" name="question" type="text" class="validate" placeholder="Your Question" required>
                    </div>
                </div>
                <!-- Answer -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="answer" name="answer" type="answer" class="validate" placeholder="Answer" required>
                    </div>
                </div>
                <!-- Submit -->
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn-large text-shadow">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div>
        <h2>My Questions</h2>
        <ul>
            {% for user_question in user_questions %}
                <li>{{ user_question.question }} {{ user_question.answer }}</li>    
            {% endfor %}
        </ul>
    </div>
{% endblock %}